<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Intellumen</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<style type="text/css">
    .slider {
        margin: 5px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
        clear: left;
        width: 300px;
    }
    .input {
        width: 3em;
    }

    table.colorTable {
        display: inline-block;
        vertical-align: middle;
    }

    div.colorSplotch {
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        padding: 30px;
        width: 60px;
        height: 60px;
    }

    .master {
    }
</style>
<script type="text/javascript">
function hexToRgb(hex) {
    // Convert hex color string (no #) to RGB list
    if (hex.length != 6) {
        alert("Error: hex string is invalid. " + hex);
    }
    return [parseInt(hex.slice(0,2), 16), parseInt(hex.slice(2,4), 16), parseInt(hex.slice(4,6), 16)];
}

function dec2hex(i) {
    return (i+0x100).toString(16).substr(-2).toUpperCase();
}

function rgbToHex(rgb) {
    // Convert 3-elm array to 6-char hex string
    return dec2hex(rgb[0]) + dec2hex(rgb[1]) + dec2hex(rgb[2]);
}

function clone(obj) {
    // Handle the 3 simple types, and null or undefined
    if (null == obj || "object" != typeof obj) return obj;

    // Handle Date
    if (obj instanceof Date) {
        var copy = new Date();
        copy.setTime(obj.getTime());
        return copy;
    }

    // Handle Array
    if (obj instanceof Array) {
        var copy = [];
        for (var i = 0, len = obj.length; i < len; i++) {
            copy[i] = clone(obj[i]);
        }
        return copy;
    }

    // Handle Object
    if (obj instanceof Object) {
        var copy = {};
        for (var attr in obj) {
            if (obj.hasOwnProperty(attr)) copy[attr] = clone(obj[attr]);
        }
        return copy;
    }

    throw new Error("Unable to copy obj! Its type isn't supported.");
}

$.widget( "custom.colorpicker", {
    _create: function() {
    	var self = this; // So we'll have self available even if this is redefined.
    
        if(self.options.callback)
            self.callback = $.throttle(200, self.options.callback);

		self._colors = {};
		self._elms = {};
    	$.each(self.options.colors, function (idx, color) {
    		self._colors[color.slug] = clone(color);
    	})
        
        var master = $("<div/>");
        master.addClass("master");

    	var table = $("<table/>");
        table.addClass("colorTable");
    	master.append(table);

        var splotch = $("<div/>");
        splotch.addClass("colorSplotch");
        master.append(splotch);

        self.element.append(master);

        var recalculateSplotch = function() { 
            var rgb = [0,0,0];
            var weightSum = 0;
            $.each(self._colors, function (_, color) {
                weightSum += color.weight;
                $.each( hexToRgb(color.hex), function (idx, rgbVal) {
                    rgb[idx] = rgb[idx] + rgbVal * color.value * color.weight;
                });
            });

            var ratio = Math.max.apply(Math, rgb) / 255;
            rgb = $.map(rgb, function(val) { 
                return ratio != 0 ? Math.round(val / ratio) : 0; 
            });

            var newColor = "#" + rgbToHex(rgb);
            splotch.css('background', newColor);
        };

        recalculateSplotch();

    	$.each(self._colors, function (idx, color) {
    		// Build the DOM (tr with 3 td, [label, slider, input])
    		var tr = $("<tr/>");

    		var label = $("<label/>");
    		label.text(color.name);
	   		label.addClass("label");
    		tr.append($("<td/>").append(label));

    		var slider = $("<div/>");
    		slider.addClass("slider");
    		slider.slider({
	            orientation: "horizontal",
	            range: "min",
	            max: 255,
	            value: color.value
	        });

    		slider.children(".ui-slider-range, .ui-slider-handle").css("background", "#" + color.hex);

	        tr.append($("<td/>").append(slider));

	        var input = $("<input max='255' type='text'/>");
	        input.addClass("input");
	        input.val(color.value);
	        tr.append($("<td/>").append(input));

	        self._elms[color.slug] = {input: input, slider: slider};

	        table.append(tr);

            self._justChanged = false;

	        // Create the slider onChange function
	        var sliderChanged = function() {
	        	// `this` is redefined as the slider here
	        	var val = slider.slider("value");
	        	var oldVal = self._colors[color.slug].value;
	        	self._colors[color.slug].value = val;
	        	input.val(val);
    
                recalculateSplotch();

	        	if(self.callback && val != oldVal) {
	        		self.callback(self.colors(), self._colors);
	        	}

                // mark as "just changed" for 100ms to avoid feedback loops
                self._justChanged = true;
                window.setTimeout(function() { self._justChanged = false; }, 100);
	        };

	        // Create the input onChange function
	        var inputChanged = function() {
	        	// `this` is redefined as the input here
	        	var val = input.val();
	        	var oldVal = self._colors[color.slug].value;
	        	self._colors[color.slug].value = val;
	        	slider.slider("value", val);

                recalculateSplotch();
	        	
                //slider.slider("refresh");
	        	if(self.callback && val != oldVal) {
	        		self.callback(self.colors(), self._colors);
	        	}

                // mark as "just changed" for 100ms to avoid feedback loops
                self._justChanged = true;
                window.setTimeout(function() { self._justChanged = false; }, 100);
	        };

	        // Wire the slider to the input and vice versa
	        slider.slider('option', 'slide', sliderChanged);
	        slider.slider('option', 'change', sliderChanged);
	        input.change(inputChanged);
	        input.keyup(inputChanged);
    	});

		if (self.options.submit) {
			self.element.append($("<button/>").text("Submit").click(function() {
				self.options.submit(self.colors(), self._colors);
			}));
		}
    },

    // Dumps the whole internal color datatype, but can't be used as a setter
    colorData: function() {
    	// Can only act as a getter
    	return this._colors;
    },

    // Works with structure like: {slug: val, slug: val, ...} (e.g. {red: 211, blue: 200, green: 125, amber: 100})
    colors: function( colors ) {
    	// No value passed, act as a getter.
    	if (colors === undefined) {
    		var colvals = {};
    		for (var slug in this._colors) {
    			colvals[slug] = this._colors[slug].value;
    		}
    		return colvals;
    	}

    	// Value passed, act as a setter
    	var changed = false;
    	for (var slug in colors) {
    		var newColor = colors[slug];
    		var currentColor = this._colors[slug];
    		if (this._colors[slug] !== undefined && newColor !== undefined) {
    			this._colors[slug].value = newColor;
    			this._elms[slug].slider.slider('value', newColor);
    			this._elms[slug].input.val(newColor);
    		}
    	}
    }
});

$(function() {
	var CONFIG, STATE;
    var cpSet, cpBlink1, cpBlink2, cpFade1, cpFade2;

    function sendCommand(command) {
        $.ajax({
                url: '/json/command',
                type: 'post',
                data: JSON.stringify(command),
                contentType: 'application/json; charset=UTF-8', // This is the money shot
                dataType: 'json',
                error: function() {
                    console.log("Error in sending command");
                }
            });
    }

    function updateState(state) {
        for (var key in state) {
            STATE[key] = state[key];
        }

        console.log("Handling state object: " + JSON.stringify(state));
        if (state.ledColor !== undefined) {
            cpSet.colorpicker('colors', state.ledColor);
        }

        if (state.blink !== undefined) {
            if (state.blink.blinking) {
                $('#blinkBtn').text('Stop Blink');
            }
            else {
                $('#blinkBtn').text('Start Blink');
            }

            if (state.blink.ms !== undefined) {
                $('input#blinkTime').val(state.blink.ms);
            }
            if (state.blink.numBlinks !== undefined) {
                $('input#numBlinks').val(state.blink.numBlinks);
            }
            if (state.blink.color1 !== undefined) {
                cpBlink1.colorpicker('colors', state.blink.color1);
            }
            if (state.blink.color2 !== undefined) {
                cpBlink2.colorpicker('colors', state.blink.color2);
            }
            if (state.blink.blinking) {
                var t = "Blinking...";
                if (state.blink.blinksRemaining) {
                    t += " " + state.blink.blinksRemaining + " blinks remaining";
                }
                $("#blinking").text(t);
            } else {
                $("#blinking").text("");
            }

        }

        if (state.fade !== undefined) {
            if (state.fade.fading) {
                $('#fadeBtn').text('Stop Fade');
            }
            else {
                $('#fadeBtn').text('Start Fade');
            }

            if (state.fade.ms !== undefined) {
                $('input#fadeTime').val(state.fade.time);
            }
            if (state.fade.color1 !== undefined) {
                cpFade1.colorpicker('colors', state.fade.color1);
            }
            if (state.fade.color2 !== undefined) {
                cpFade2.colorpicker('colors', state.fade.color2);
            }
            if (state.fade.fading) {
                var t = "Fading...";
                if (state.fade.percentComplete) {
                    t += " " + Math.round(state.fade.percentComplete) + "% complete";
                }
                $("#fading").text(t);
            } else {
                $("#fading").text("");
            }
        }
    }

    function buildIfReady() {
        if (!CONFIG || !STATE)
            return;

        cpSet = $("#colorPickerSet").colorpicker({
            colors: CONFIG['colors'],
            callback: function(colors) {
                sendCommand({command: 'setcolor', color: colors});
            }
        });

        cpBlink1 = $("#blinkCP1").colorpicker({
            colors: CONFIG['colors']
        });

        cpBlink2 = $("#blinkCP2").colorpicker({
            colors: CONFIG['colors']
        });

        // Wire up the blink button
        $("#blinkBtn").click(function() {
            var time = $("#blinkTime").val();
            var col1 = cpBlink1.colorpicker('colors');
            var col2 = cpBlink2.colorpicker('colors');

            console.log(STATE);
            if (!STATE.blink || !STATE.blink.blinking) {
                var ms = parseInt($('input#blinkTime').val());
                if (isNaN(ms) || ms < 100 || ms > 60000) {
                    alert("Blink time must be between 100ms and 60 000ms.");
                    return;
                }

                var numBlinks = parseInt($('input#numBlinks').val());
                if (isNaN(numBlinks) || numBlinks == 0) {
                    numBlinks = null;
                } else if (numBlinks < 1) {
                    alert("Number of blinks must be a positive number (or zero/blank for infinite).");
                    return;
                }

                console.log("Starting blink...");
                $('#blinkBtn').text('Stop Blink');
                
                sendCommand({command: 'startblink', color1: col1, color2: col2, ms: ms, numBlinks: numBlinks})
            }
            else {
                console.log("Stopping blink...");
                $('#blinkBtn').text('Start Blink');
                
                sendCommand({command: 'stopblink'})
            }
        });

        cpFade1 = $("#fadeCP1").colorpicker({
            colors: CONFIG['colors']
        });

        cpFade2 = $("#fadeCP2").colorpicker({
            colors: CONFIG['colors']
        });

        // Wire up the fade button
        $("#fadeBtn").click(function() {
            var time = $("#fadeTime").val();
            var col1 = cpFade1.colorpicker('colors');
            var col2 = cpFade2.colorpicker('colors');

            console.log(STATE);
            if (!STATE.fade || !STATE.fade.fading) {
                var time = parseInt($('input#fadeTime').val());
                if (isNaN(time) || time < 5 || time > 172800) {
                    alert("Fade time must be between 5 seconds and 172800 seconds.");
                    return;
                }

                console.log("Starting fade...");
                $('#fadeBtn').text('Stop Fade');
                
                sendCommand({command: 'startfade', color1: col1, color2: col2, time: time})
            }
            else {
                console.log("Stopping fade...");
                $('#fadeBtn').text('Start Fade');
                
                sendCommand({command: 'stopfade'})
            }
        });

        // Load the state
        updateState(STATE);
    }

    // Load the UI config
    $.ajax({
        url: '/json/config',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            CONFIG = data;
            buildIfReady();
        },
        error: function() {
            console.log("Unable to load configuration data.");
        }
    });

    // and the current state
    $.ajax({
        url: '/json/state',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            STATE = data;
            buildIfReady();
        },
        error: function() {
            console.log("Unable to load configuration data.");
        }
    });

    // Wire up the stream
    var stream = new EventSource('/json/stream');
	stream.onmessage = function (event) {
		var data = JSON.parse(event.data);
        updateState(data);
	};
});

</script>
</head>

<fieldset><legend>Direct Color Change</legend>
<div id="colorPickerSet"></div>
</fieldset>

<fieldset><legend>Blink</legend>
<span id="blinking"></span>
<h2>From Color</h2>
<div id="blinkCP1"></div>
<h2>To Color</h2>
<div id="blinkCP2"></div>
<label>Time (ms): <input min="100" max="60000" type="text" id="blinkTime" /></label><br/>
<label>Number of Blinks: <input min="0" type="text" id="numBlinks" /></label><br/>
<button id="blinkBtn"></button>
</fieldset>

<fieldset><legend>Fade</legend>
<span id="fading"></span>
<h2>From Color</h2>
<div id="fadeCP1"></div>
<h2>To Color</h2>
<div id="fadeCP2"></div>
<label>Time (seconds): <input min="5" max="172800" type="text" id="fadeTime" /></label><br/>
<button id="fadeBtn"></button>
</fieldset>
</body>
</html>
