{% extends "layout.html" %}

{% block title2 %} Home {% endblock %}
{% block styles %}
{{super()}}
<style type="text/css">
    .slider {
        margin: 5px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
        clear: left;
        width: 300px;
    }
    .input {
        width: 3em;
    }

    table.colorTable {
        display: inline-block;
        vertical-align: middle;
    }

    div.colorSplotch {
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        padding: 30px;
        width: 60px;
        height: 60px;
    }

    .master {
    }
</style>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='util.js')}}"></script>
<script src="{{url_for('static', filename='colorpicker.js')}}"></script>
<script type="text/javascript">
$(function() {
	var CONFIG, STATE;
    var cpSet, cpBlink1, cpBlink2, cpFade1, cpFade2;

    function sendCommand(command) {
        $.ajax({
            url: '/json/command',
            type: 'post',
            data: JSON.stringify(command),
            contentType: 'application/json; charset=UTF-8', // This is the money shot
            dataType: 'json',
            error: function() {
                console.log("Error in sending command");
            }
        });
    }

    window._sendCommand = sendCommand;

    function updateState(state) {
        for (var key in state) {
            STATE[key] = state[key];
        }

        console.log("Handling state object: " + JSON.stringify(state));
        if (state.ledColor !== undefined) {
            cpSet.colorpicker('colors', state.ledColor);
        }

        if (state.blink !== undefined) {
            if (state.blink.blinking) {
                $('#blinkBtn').text('Stop Blink');
            }
            else {
                $('#blinkBtn').text('Start Blink');
            }

            if (state.blink.ms !== undefined) {
                $('input#blinkTime').val(state.blink.ms);
            }
            if (state.blink.numBlinks !== undefined) {
                $('input#numBlinks').val(state.blink.numBlinks);
            }
            if (state.blink.color1 !== undefined) {
                cpBlink1.colorpicker('colors', state.blink.color1);
            }
            if (state.blink.color2 !== undefined) {
                cpBlink2.colorpicker('colors', state.blink.color2);
            }
            if (state.blink.blinking) {
                var t = "Blinking...";
                if (state.blink.blinksRemaining) {
                    t += " " + state.blink.blinksRemaining + " blinks remaining";
                }
                $("#blinking").text(t);
            } else {
                $("#blinking").text("");
            }

        }

        if (state.fade !== undefined) {
            if (state.fade.fading) {
                $('#fadeBtn').text('Stop Fade');
            }
            else {
                $('#fadeBtn').text('Start Fade');
            }

            if (state.fade.ms !== undefined) {
                $('input#fadeTime').val(state.fade.time);
            }
            if (state.fade.color1 !== undefined) {
                cpFade1.colorpicker('colors', state.fade.color1);
            }
            if (state.fade.color2 !== undefined) {
                cpFade2.colorpicker('colors', state.fade.color2);
            }
            if (state.fade.fading) {
                var t = "Fading...";
                if (state.fade.percentComplete) {
                    t += " " + Math.round(state.fade.percentComplete) + "% complete";
                }
                $("#fading").text(t);
            } else {
                $("#fading").text("");
            }
        }
    }

    function buildIfReady() {
        if (!CONFIG || !STATE)
            return;

        cpSet = $("#colorPickerSet").colorpicker({
            colors: CONFIG['colors'],
            callback: function(colors) {
                if ((!STATE.blink || !STATE.blink.blinking) && (!STATE.fade || !STATE.fade.fading))
                    sendCommand({command: 'setcolor', color: colors});
            }
        });

        cpBlink1 = $("#blinkCP1").colorpicker({
            colors: CONFIG['colors']
        });

        cpBlink2 = $("#blinkCP2").colorpicker({
            colors: CONFIG['colors']
        });

        // Wire up the blink button
        $("#blinkBtn").click(function() {
            var time = $("#blinkTime").val();
            var col1 = cpBlink1.colorpicker('colors');
            var col2 = cpBlink2.colorpicker('colors');

            console.log(STATE);
            if (!STATE.blink || !STATE.blink.blinking) {
                var ms = parseInt($('input#blinkTime').val());
                if (isNaN(ms) || ms < 100 || ms > 60000) {
                    alert("Blink time must be between 100ms and 60 000ms.");
                    return;
                }

                var numBlinks = parseInt($('input#numBlinks').val());
                if (isNaN(numBlinks) || numBlinks == 0) {
                    numBlinks = null;
                } else if (numBlinks < 1) {
                    alert("Number of blinks must be a positive number (or zero/blank for infinite).");
                    return;
                }

                console.log("Starting blink...");
                $('#blinkBtn').text('Stop Blink');
                
                sendCommand({command: 'startblink', color1: col1, color2: col2, ms: ms, numBlinks: numBlinks})
            }
            else {
                console.log("Stopping blink...");
                $('#blinkBtn').text('Start Blink');
                
                sendCommand({command: 'stopblink'})
            }
        });

        cpFade1 = $("#fadeCP1").colorpicker({
            colors: CONFIG['colors']
        });

        cpFade2 = $("#fadeCP2").colorpicker({
            colors: CONFIG['colors']
        });

        // Wire up the fade button
        $("#fadeBtn").click(function() {
            var time = $("#fadeTime").val();
            var col1 = cpFade1.colorpicker('colors');
            var col2 = cpFade2.colorpicker('colors');

            console.log(STATE);
            if (!STATE.fade || !STATE.fade.fading) {
                var time = parseInt($('input#fadeTime').val());
                if (isNaN(time) || time < 5 || time > 172800) {
                    alert("Fade time must be between 5 seconds and 172800 seconds.");
                    return;
                }

                console.log("Starting fade...");
                $('#fadeBtn').text('Stop Fade');
                
                sendCommand({command: 'startfade', color1: col1, color2: col2, time: time})
            }
            else {
                console.log("Stopping fade...");
                $('#fadeBtn').text('Start Fade');
                
                sendCommand({command: 'stopfade'})
            }
        });

        // Load the state
        updateState(STATE);
    }

    // Load the UI config
    $.ajax({
        url: '/json/config',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            CONFIG = data;
            buildIfReady();
        },
        error: function() {
            console.log("Unable to load configuration data.");
        }
    });

    // and the current state
    $.ajax({
        url: '/json/state',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            STATE = data;
            buildIfReady();
        },
        error: function() {
            console.log("Unable to load configuration data.");
        }
    });

    // Wire up the stream
    var stream = new EventSource('/json/stream');
	stream.onmessage = function (event) {
		var data = JSON.parse(event.data);
        updateState(data);
	};
});

</script>
{% endblock %}

{% block body2 %}
<fieldset><legend>Direct Color Change</legend>
<div id="colorPickerSet"></div>
</fieldset>

<fieldset><legend>Blink</legend>
<span id="blinking"></span>
<h2>First Color</h2>
<div id="blinkCP1"></div>
<h2>Second Color</h2>
<div id="blinkCP2"></div>
<label>Time (ms): <input min="100" max="60000" type="text" id="blinkTime" /></label><br/>
<label>Number of Blinks: <input min="0" type="text" id="numBlinks" /></label><br/>
<button id="blinkBtn"></button>
</fieldset>

<fieldset><legend>Fade</legend>
<span id="fading"></span>
<h2>From Color</h2>
<div id="fadeCP1"></div>
<h2>To Color</h2>
<div id="fadeCP2"></div>
<label>Time (seconds): <input min="5" max="172800" type="text" id="fadeTime" /></label><br/>
<button id="fadeBtn"></button>
</fieldset>
{% endblock %}
