<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery UI Slider - Colorpicker</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<style>
	{% for color in colors %}
	#{{color.slug}}Slider {
		margin: 5px;
		margin-left: 15px;
		margin-right: 15px;
		float: left;
		clear: left;
		width: 300px;
	}
	#{{color.slug}}Input {
		width: 3em;
	}
	#{{color.slug}}Slider .ui-slider-range {
		background: #{{color.hex}};
	}
	#{{color.slug}}Slider .ui-slider-handle {
		border-color: #{{color.hex}};
	}
	{% endfor %}

	#swatch {
		width: 120px;
		height: 100px;
		margin-top: 18px;
		margin-left: 350px;
		background-image: none;
	}
</style>
<script>
AUTO_UPLOAD = true;

function hexFromRGB(r, g, b) {
	var hex = [
		r.toString( 16 ),
		g.toString( 16 ),
		b.toString( 16 )
	];
	$.each( hex, function( nr, val ) {
		if ( val.length === 1 ) {
			hex[ nr ] = "0" + val;
		}
	});
	return hex.join( "" ).toUpperCase();
}

function refresh() {
	var colors = {};
	{% for color in colors %}
		colors.{{color.slug}} = $("#{{color.slug}}Slider").slider("value");
		// Infinite loop?
		$("#{{color.slug}}Input").val(colors.{{color.slug}});
	{% endfor %}

	if (AUTO_UPLOAD) {
		// todo: ajax
		console.log(colors);
	}


		//hex = hexFromRGB( red, green, blue );
	//$( "#swatch" ).css( "background-color", "#" + hex );
}

$(function() {
	{% for color in colors %}
		$( "#{{color.slug}}Slider" ).slider({
			orientation: "horizontal",
			range: "min",
			max: 255,
			slide: refresh,
			change: refresh,
			value: {{color.value}}
		});
		var inpChange = function() {
			$( "#{{color.slug}}Slider" ).slider('value', this.value);
		}
		$( "#{{color.slug}}Input" ).val({{color.value}});
		$( "#{{color.slug}}Input" ).change(inpChange);
		$( "#{{color.slug}}Input" ).keyup(inpChange);
	{% endfor %}
});

</script>
</head>
<body class="ui-widget-content" style="border:0;">
<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
	<span class="ui-icon ui-icon-pencil" style="float:left; margin:-2px 5px 0 0;"></span>
	Simple Colorpicker
</p>
<table>
{% for color in colors %}
<tr>
	<td><label id="{{color.slug}}Label">{{color.name}}</label></td>
	<td><div id="{{color.slug}}Slider"></div></td>
	<td><input type="text" id="{{color.slug}}Input" value="{{color.value}}" max="255" /></td>
</tr>
{% endfor %}
</table>
<!--<div id="swatch" class="ui-widget-content ui-corner-all"></div>-->
</body>
</html>