table{
    width: 60%;
}
tbody{ 
    display:table;
    width: 100%; 
}
.slider {
    position: relative;
    margin: 5px;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    clear: left;
    width: 95%;
    height: 2em;
}
.ui-slider .ui-slider-handle{
    height: 2em;
    width: 2em;
}
tr{ width: 60%; }
/*td{ width: 60%; }*/
td > input{
    background-color:#666;
    border: 1px solid #666;
    padding: 0;
    line-height: 1em;
    height: 3rem;
}
td.label-td{ display: none; }
td.slider-td{ width: 100%; }
td.input-td{ width: auto; }
td.input-td .input {
    width: 4rem;
    font-size: 2rem;
}

table.colorTable {
    display: inline-block;
    vertical-align: middle;
}

div.colorSplotch {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    padding: 30px;
    width: 28rem;
    height: 28rem;
}

/*------------------*/
/* Responsive Stuff */
/*------------------*/

/* Small Screens (Mobile/Phones) */
@media (max-width: 767px) {
    .slider{ height: 2rem; }
    .ui-slider .ui-slider-handle{ height: 2rem; }
    td > input {
        height: 2.2rem;
        font-size: 1.5rem;
    }
    div.colorSplotch{ 
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }
    table{ 
        width: 85%;
        clear: both; 
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    legend{
        margin-bottom: 0;
    }
    h2{
        magin-top: 2%;
    }
}

/* Medium Portrait Screens (Tablet Portrait) */
/*
@media (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: portrait) {
   .slider{ height: 2em; }
   .ui-slider .ui-slider-handle{ height: 2em; }
   td > input {
       height: 2.2em;
       font-size: 2em;
   }
}
*/
/* Medium Landscape Screens Tablet Landscape) */
/*
@media (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: landscape) {
   .slider{ height: 2em; }
   .ui-slider .ui-slider-handle{ height: 2em; }
   td > input {
       height: 2em;
       font-size: 2em;
   }
}
*/
/* Large Screens (Window on Desktop/Laptop) */
@media (min-width: 768px) and (max-width: 1023px) {
    .slider{ height: 3rem; }
    .ui-slider .ui-slider-handle{ 
        height: 3rem; 
        width: 3rem;  
    }
    td > input {
       height: 3.2rem;
       font-size: 2rem;
    }
    table{ width: 60%; }
    div.colorSplotch {
        height: 26rem;
        width: 26rem;
    }

/* Extra Large Screens (Desktop/Laptop) */
@media (min-width: 1025px) {
    .slider{ height: 4rem; }
    .ui-slider .ui-slider-handle{ 
        height: 4rem; 
        width: 4rem;  
    }
    td > input {
       height: 4.2rem;
       font-size: 3rem;
    }
    table{ width: 50%; }
    div.colorSplotch {
        height: 30rem;
        width: 30rem;
    }
    

}
