/* General Styling */
body,html{
    background-color: #444444;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.navbar{
    background-color: #360A20;
    color: #ccc;
}
.navbar a {
    color: #ccc;
}

body,fieldset,fieldset legend,h1,h2,h3,th,td{
    color: #cccccc;
}
h1 {
    font-size: 1.75rem;
    margin-top: 0;
}
label, button{
    font-size: 1.75rem;
}
h2{ 
    font-size: 1.75rem;
    margin-top: 1%;
}

body {
    padding: 5px;
}
legend{ 
    font-size: 2rem;
    margin-bottom: 0; 
    width: auto; 
}
legend.scheduler-border {
    width:inherit; /* Or auto */
    padding: 0;
    margin-bottom: 0;
    border: 0;
}
label > input, label > select, button {
    background-color: #666666;
    border: none;
}
colorPickerSet{
    width: 100%;
}
fieldset {
    border: 1px solid #666666;
    padding: 5px;
    margin-bottom: 1em;
    width: 100%;
    max-width: 1025px;
/*    margin-left: auto;
    margin-right: auto;
*/
}

div.flash {
    font-size: 2rem;
    color: #ccc;
    border: 1px dotted gray;
    background-color: #666666;
    margin-bottom: 1%;
}

div#jsflash {
    display: none;
}

th,td {
    padding: 3px 5px 2px 5px;
    border: 1px solid #73afb7;
}
